body {
  height: 100vh;
 background: linear-gradient(45deg, rgb(102, 7, 131), rgb(51, 236, 236));
  }
  
  h1 {
    color: rgb(255, 255, 255);
    font-family: 'Arial', 'Verdana', sans-serif;
    padding-top: 30px;
  }
  p {
    color: rgb(255, 255, 255);
    font-family: 'Arial', 'Verdana', sans-serif;
  }
  img {
    padding-top: 50px; 
  }
  button{
    margin-top: 100px;
  }